# See https://help.github.com/ignore-files/ for more about ignoring files.

# dependencies
/node_modules
package-lock.json
request.http

# testing
/coverage

# production
/build

# misc
.eslintcache
.DS_Store
.idea
.env.local
.env.development.local
.env.test.local
.env.production.local

.env
.env.test

npm-debug.log*
yarn-debug.log*
yarn-error.log*

.gitconfig

.http

/public/api/builder/app/ace
/public/api/builder/app/addons
/public/api/builder/app/css
/public/api/builder/app/fonts
/public/api/builder/app/images
/public/api/builder/app/imagesService
/public/api/builder/app/img
/public/api/builder/app/Landing_pages_bundle
/public/api/builder/app/manual
/public/api/builder/app/material_assets
/public/api/builder/app/myProjects


/smbebuilderApp
/bucket